<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="moduleCode" value="ber" />
    <add key="operation" value="RD" />

    <!--Roles  (Conjunto de Roles que pueden ver en la aplicacion -->
    <add key="Administrator" value="adm" />
    <add key="SalesRepresentative" value="ven" />
    <add key="SalesSupervisor" value="sup" />
    <add key="SalesDirector" value="dir" />

    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

  </appSettings>
  <connectionStrings>
    <add name="BerrySQLDB_RD" connectionString="Data Source=;Initial Catalog=;Persist Security Info=False;User ID=;password=" providerName="System.Data.SqlClient" />
    <add name="BerrySQLDBEVA_RD" connectionString="Data Source=;Initial Catalog=;Persist Security Info=False;User ID=;password=" providerName="System.Data.SqlClient" />
    <add name="BerryYPDB_RD" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=)(PORT=)))(SDU=)(CONNECT_DATA=(SERVICE_NAME=)));User ID=;Password=;" providerName="Oracle.DataAccess.Client" />
  
    <add name="BerrySQLDB_PR" connectionString="Data Source=;Initial Catalog=;Persist Security Info=False;User ID=;password=" providerName="System.Data.SqlClient" />
    <add name="BerrySQLDBEVA_PR" connectionString="Data Source=;Initial Catalog=;Persist Security Info=False;User ID=;password=" providerName="System.Data.SqlClient" />
    <add name="BerryYPDB_PR" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=)(PORT=))(CONNECT_DATA=(SERVICE_NAME=)));User ID=;Password=;" providerName="Oracle.DataAccess.Client" />
    <add name="BerryBRDB_PR" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=)(PORT=))(CONNECT_DATA=(SERVICE_NAME=)));User ID=;Password=;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off">
      
    </customErrors>    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly> 
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
